<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="'layout/LayoutPadrao'">
 <head>
	<title>Cadastro de Estoque</title>
 </head>
<body>
		<section class="aw-layout-content  js-content" layout:fragment="conteudo">

				<div class="page-header top-fix">
					<div class="container-fluid">
						<h1>
							Cadastro de Estoque
						</h1>
					</div>
				</div>
			<div class="container-fluid">
					<div class="alert  alert-danger  alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
						<i class="fa  fa-exclamation-circle"></i> Já existe um Cliente com o nome informado.
					</div>
	<form data-toggle="validator" method="get"  th:object="${cliente}" class="form-vertical  js-form-loading">
		<div class="row">
						<ul  class="nav nav-tabs">
								<li class="active"> 
									<a href="#1a" data-toggle="tab">Dados Produto</a>
								</li>
									</li>
								<li>
									<a href="#2a" data-toggle="tab">Vendedor</a>
								</li>
								<li>
									<a href="#3a" data-toggle="tab">Empresa</a>
							
					  	</ul>
		</div>

				<div class="tab-content clearfix">

					<div class="tab-pane active" id="1a">
					
					<br/>			
					<div class="col-xs-12 col-sm-2 form-group">
                          <div class="input-group">
                         	 <span class="input-group-addon"><i class="fas fa-file-contract "></i></span>
                          	<input id="numProduto" name="numProduto" placeholder="Nº Produto" class="form-control" required="true" type="text">
                          </div>
                        </div>
			
					<div class="col-xs-6 col-sm-2 form-group">
                         <div class="input-group">
                         	 <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          	<input id="dataCadatro" name="dataCadastro" class="form-control"  placeholder="Data. Cad." data-mask="00/00/0000" required="true" type="text">
                          </div>
                        </div>
			
					<div class="col-xs-6 col-sm-2 form-group">
                          <div class="input-group">
                          	<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                          	<input id="horaCadastro" name="horaCadastro" placeholder="Hora. Cad." data-mask="00:00:00" class="form-control" required="true" type="text">
                          </div>
                        </div>
                         <div class="col-xs- 12 col-sm-12 form-group">
                           <div class="input-group">
                           <span class="input-group-addon"><i class="icon-archive"></i></span>
                           <input id="nomProduto" name="nomProduto" placeholder="Nome Produto" class="form-control" required="true" value="" type="text">
                         </div>
                         </div>
					<div class="col-xs-6 col-sm-2 form-group">
                           <div class="input-group">
                           	<span class="input-group-addon"><i class="fas fa-hourglass-half"></i></span>
                           	<input id="dtVal" name="dtVal" placeholder="Dt. Validade" class="form-control" data-mask="00/00/0000"  required="true" type="text">
                           </div>
                        </div>
                        <div class="col-xs-6 col-sm-2 form-group">
                          <div class="input-group">
                          	<span class="input-group-addon"><i class="icon-archive"></i></span>
                          	<input id="qtProduto" name="qtProduto" placeholder="Quantidade" class="form-control" data-mask="00" required="true" type="text">
                          </div>
                        </div>
		
						<div class ="container-fluid">
						<div class="row">
							<div class="col-xs- 12 col-sm-2 form-group">
	                          <div class="input-group">
	                       	   	<span class="input-group-addon"><i class="fas fa-dollar-sign"></i></span>
	                        	<input id="vlProduto" name="vlProduto"  class="form-control" data-mask="000.000.000-00" placeholder="Valor Produto" maxlength="14" required="true" type="text">
	                          </div>
	                        </div>
	                        
	                        <div class="col-xs- 12 col-sm-2  form-group" >
	                          <div class="input-group">
	                        	<span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
	                          	<input id="rg" name="rg" placeholder="RG" class="form-control" required="true" value="" type="text">
	                          </div>
			                 </div>
			               </div>
			            </div>       
                         
                      <div class ="container-fluid">
						<div class="row">
							<div class="col-xs- 12 col-sm-2 form-group">
	                          <div class="input-group">
	                       	   	<span class="input-group-addon"><i class="fas fa-level-up-alt"></i></span>
	                        	<input id="altura" name="altura"  class="form-control" data-mask="00" placeholder="Altura" required="true" value="" type="text">
	                          </div>
	                        </div>
	                        
	                        <div class="col-xs- 12 col-sm-2  form-group" >
	                          <div class="input-group">
	                        	<span class="input-group-addon"><i class="glyphicon glyphicon-scale"></i></span>
	                          	<input id="peso" name="peso" placeholder="Peso" class="form-control" required="true" value="" type="text">
	                          </div>
			                 </div>
			               </div>
			             </div>   	
				   		   <div class="col-xs-12 col-sm-12 form-group">
					   		 <div class="input-group">
					   	 	 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					  		 <input id="nmMae" name="nmMae" placeholder="Nome do Mâe" class="form-control" required="true" type="text">
					   	     </div>
						   </div>
					   
						 	<div class="col-xs-12 col-sm-12	 form-group">
						   	 <div class="input-group">
						     <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						  	 <input id="nmPai" name="nmPai" placeholder="Nome do Pai" class="form-control" required="true" type="text">
						    </div>
							 </div>
					   	  	</div>

                    	<div class="tab-pane" id="2a">
                    	
		        		 <br/>
		        		    <div class="col-xs-12 col-sm-12 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="icon-torsos"></i></span>
					  		<input name="nomVendedor" placeholder="Nome Vendedor" class="form-control" required="true" type="text">
					     </div>
					   </div> 
					   <div class="col-xs-12 col-sm-6 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					  		<input name="address" placeholder="E-mail" class="form-control" required="true" type="email">
					     </div>
					   </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   	<div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
						  		<input name="address" placeholder="Celular" data-mask="(00) 0000-00000" class="form-control"  required="true"  type="text">
						   	</div>
						 </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
								<input name="address" placeholder="Telefone" data-mask="(00) 0000-0000" class="form-control" required="true"  type="text">
						   </div>
					 	</div>
					 	 	    <div class="col-xs-12 col-sm-12 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="icon-torsos"></i></span>
					  		<input name="nomVendedor" placeholder="Nome Vendedor" class="form-control" required="true" type="text">
					     </div>
					   </div> 				 	
					 	   <div class="col-xs-12 col-sm-6 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					  		<input name="address" placeholder="E-mail" class="form-control" type="email">
					     </div>
					   </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   	<div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
						  		<input name="address" placeholder="Celular" data-mask="(00) 0000-00000" class="form-control" type="text">
						   	</div>
						 </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
								<input name="address" placeholder="Telefone" data-mask="(00) 0000-0000" class="form-control" type="text">
						   </div>
					 	</div>
					 	    <div class="col-xs-12 col-sm-12 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="icon-torsos"></i></span>
					  		<input name="nomVendedor" placeholder="Nome Vendedor" class="form-control" required="true" type="text">
					     </div>
					   </div> 
					 	   <div class="col-xs-12 col-sm-6 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					  		<input name="address" placeholder="E-mail" class="form-control" type="email">
					     </div>
					   </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   	<div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
						  		<input name="address" placeholder="Celular" data-mask="(00) 0000-00000" class="form-control"  type="text">
						   	</div>
						 </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
								<input name="address" placeholder="Telefone" data-mask="(00) 0000-0000" class="form-control" type="text">
						   </div>
					 	</div>
			</div>
			                  	<div class="tab-pane" id="3a">
                    	
		         <br/>
		         
		         	    <div class="col-xs-12 col-sm-8 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="icon-industry"></i></span>
					  		<input name="nomVendedor" placeholder="Nome Empresa" class="form-control" required="true" type="text">
					     </div>
					   </div>
					    <div class="col-xs-12 col-sm-4 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="icon-industry"></i></span>
					  		<input name="nomVendedor" placeholder="Nome Fantasia" class="form-control" required="true" type="text">
					     </div>
					   </div>
					   	   <div class="col-xs-12 col-sm-6 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					  		<input name="address" placeholder="E-mail" class="form-control" type="email">
					     </div>
					   </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   	<div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
						  		<input name="address" placeholder="Celular" data-mask="(00) 0000-00000" class="form-control"  type="text">
						   	</div>
						 </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
								<input name="address" placeholder="Telefone" data-mask="(00) 0000-0000" class="form-control" type="text">
						   </div>
					 	</div>
		              <div class="col-xs-12 col-sm-6 form-group">
					  	 <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
					  		<input name="address" placeholder="Endereço" class="form-control" type="text">
					     </div>
					 </div>
					  	<div class="col-xs-12 col-sm-2 form-group">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
						  		<input name="bairro" placeholder="Número" class="form-control"  type="text">
						    </div>
	  					</div>
	 		 			
	 		 			<div class="col-xs-12 col-sm-4 form-group">
					      <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
					  		<input name="bairro" placeholder="Complemento" class="form-control"  type="text">
					      </div>
	 					 </div>
	 					
	 					 <div class="col-xs-12 col-sm-6 form-group">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
						  		<input name="bairro" placeholder="Bairro" class="form-control"  type="text">
						  	</div>
						 </div>	
					 	
					 	<div class="col-xs-6 col-sm-2 form-group">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
						  		<input name="zip" placeholder="CEP" data-mask="00000-000" class="form-control"  type="text">
						    </div>
						</div>
						
									 <div class="col-xs-12 col-sm-2 form-group">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
				  		<input name="city" placeholder="Cidade" class="form-control"  type="text">
				    </div>
				 </div>
			  
				  <div class="col-xs-12 col-sm-2 form-group">
				     <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
				  		<input name="city" placeholder="Estado" class="form-control"  type="text">
				      </div>
				  </div>
						</div>
			</div>
		
		<div class="col-xs-12 col-sm-2 col-sm-offset-10 form-group ">
			<button class="btn  btn-primary " type="submit">Salvar</button>
			<button class="btn  btn-primary " type="submit">Cancelar</button>
			</div>
		</div>
		</form>
	</div>
</section>
</body>
</html>