<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

	<div class="table-responsive">
		<table id="dtBasicExample"
			class="table table-striped  table-bordered table-hover"
			th:fragment="tabelapesquisaCliente" cellspacing="0" width="100%">
			<thead >
				<tr style="background-color:#32A9EE;color:white;">
					<th bgcolor="#428bca" class="table-cliente-col-n">Nº Clinte</th>
					<th class="table-cliente-col-nome">Nome Cliente</th>
					<th class="table-cliente-col-telefone">Telefone</th>
					<th class="table-cliente-col-email">E-mail</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente :${clientes}">
					<td class="text-left" th:text="${cliente.numCliente}"></td>
					<td class="text-center" th:text="${cliente.nome}"></td>
					<td class="text-center" th:text="${cliente.celular}"></td>
					<td class="text-center" th:text="${cliente.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>