<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="'layout/LayoutPadrao'">
<head></head>
<body>
		<section layout:fragment="conteudo">

				<div class="page-header top-fix">
					<div class="container-fluid">
						<h1>
							Cadastro de Cliente
						</h1>
					</div>
				</div>
				
	<div class="container-fluid">
	
	<th:block th:include="fragments/mensagemSucesso"></th:block>
			    
	<form  data-toggle="validator" method="POST" th:object="${cliente}" class="form-vertical  js-form-loading">
	
	<th:block th:include="fragments/mensagensErroValidacao"></th:block>
	
		<div class="row">
						<ul  class="nav nav-tabs">
								<li class="active"> 
									<a href="#1a" data-toggle="tab">Dados Pessoais</a>
								</li>
								<li>
									<a href="#2a" data-toggle="tab">Contatos</a>
								</li>
								<li>
									<a href="#3a" data-toggle="tab">Endereço</a>
								</li>
							
					  	</ul>
		</div>

				<div class="tab-content clearfix">

					<div class="tab-pane active" id="1a">
					
					<br/>			
					<div class="col-xs-12 col-sm-2 form-group">
                          <div class="input-group">
                         	 <span class="input-group-addon"><i class="fas fa-file-contract "></i></span>
                          	<input id="numCliente" class="form-control" type="text" th:field="*{numCliente}"/>
                          </div>
                        </div>
			
					<div class="col-xs-6 col-sm-2 form-group">
                         <div class="input-group">
                         	 <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          	<input id="dataCadastro" class="form-control" type="text" />
                          </div>
                        </div>
			
				      <div class="col-xs- 12 col-sm-12 form-group">
                           <div class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                           <input id="nome" class="form-control"  type="text" th:field="*{nome}"/>
                         </div>
                         </div>
					<div class="col-xs-6 col-sm-2 form-group">
                           <div class="input-group">
                           	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                           	<input id="dataNascimento"  class="form-control" type="text" />
                           </div>
                        </div>
                        <div class="col-xs-6 col-sm-2 form-group">
                          <div class="input-group">
                          	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          	<input id="idade"  class="form-control" type="text" th:field="*{idade}"/>
                          </div>
                        </div>
		
						<div class ="container-fluid">
						<div class="row">
							<div class="col-xs- 12 col-sm-2 form-group">
	                          <div class="input-group">
	                       	   	<span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
	                        	<input id="cpf" class="form-control"  type="text" th:field="*{cpf}"/>
	                          </div>
	                        </div>
	                        
	                        <div class="col-xs- 12 col-sm-2  form-group" >
	                          <div class="input-group">
	                        	<span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
	                          	<input id="nunCIC"  class="form-control" type="text" th:field="*{nunCIC}"/>
	                          </div>
			                 </div>
			               </div>
			            </div>        	
				   		   <div class="col-xs-12 col-sm-12 form-group">
					   		 <div class="input-group">
					   	 	 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					  		 <input id="nomMae" class="form-control"  type="text" th:field="*{nomMae}"/>
					   	     </div>
						   </div>
					   
						 	<div class="col-xs-12 col-sm-12	 form-group">
						   	 <div class="input-group">
						     <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						  	 <input id="nomPai"  class="form-control" type="text" th:field="*{nomPai}"/>
						    </div>
							 </div>
					   	  	</div>

                    	<div class="tab-pane" id="2a">
                    	
		        		 <br/>			 
					   <div class="col-xs-12 col-sm-6 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					  		<input id="email" placeholder="E-mail" class="form-control" type="email"/>
					     </div>
					   </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   	<div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
						  		<input id="celular" class="form-control"   type="text"/>
						   	</div>
						 </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
								<input id="telefone"  class="form-control"   type="text"/>
						   </div>
					 	</div>
					 	   <div class="col-xs-12 col-sm-6 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					  		<input id="address"  class="form-control" type="email"/>
					     </div>
					   </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   	<div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
						  		<input id="address" class="form-control" type="text"/>
						   	</div>
						 </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
								<input id="address"  class="form-control" type="text"/>
						   </div>
					 	</div>
					 	   <div class="col-xs-12 col-sm-6 form-group">
					     <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					  		<input id="address"  class="form-control" type="email"/>
					     </div>
					   </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   	<div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
						  		<input id="address"  class="form-control"  type="text"/>
						   	</div>
						 </div>
						<div class="col-xs-12 col-sm-3 form-group">
						   <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
								<input id="address" class="form-control" type="text"/>
						   </div>
					 	</div>
					</div>
			                  	<div class="tab-pane" id="3a">
                    	
		         <br/>	
		              <div class="col-xs-12 col-sm-6 form-group">
					  	 <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
					  		<input id="logradouro"  class="form-control" type="text"/>
					     </div>
					 </div>
					  	<div class="col-xs-12 col-sm-2 form-group">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
						  		<input id="numero" class="form-control"  type="text"/>
						    </div>
	  					</div>
	 		 			
	 		 			<div class="col-xs-12 col-sm-4 form-group">
					      <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
					  		<input id="complemento" class="form-control"  type="text"/>
					      </div>
	 					 </div>
	 					
	 					 <div class="col-xs-12 col-sm-6 form-group">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
						  		<input id="bairro" class="form-control"  type="text"/>
						  	</div>
						 </div>	
					 	
					 	<div class="col-xs-6 col-sm-2 form-group">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
						  		<input id="CEP" type="text" class="form-control"/>
						    </div>
						</div>
						
									 <div class="col-xs-12 col-sm-2 form-group">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
				  		<input id="cidade" class="form-control"  type="text"/>
				    </div>
				 </div>
			  
				  <div class="col-xs-12 col-sm-2 form-group">
				     <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
				  		<input id="UF" class="form-control"  type="text"/>
				      </div>
				  </div>
						</div>
			</div>
		
		<div class="col-xs-12 col-sm-2 col-sm-offset-10 form-group ">
			<button class="btn  btn-primary " type="submit">Salvar</button>
			<button class="btn  btn-primary " type="submit">Cancelar</button>
		</div>
		</form>
			</div>
</section>
</body>
</html>